In [2]:
import pandas as pd
import numpy as np

In [82]:
df = pd.read_csv('cars.csv')

In [83]:
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

## Analysis about data

In [6]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [7]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [8]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [9]:
df['brand'].nunique()

32

In [10]:
df['fuel'].nunique()

4

In [12]:
df['owner'].nunique()

5

## OHE using pandas

In [13]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [16]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)
#drop_first is used to handle multicolinearity

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [ ]:
#You can do ohe by using pandas but drawback is that it don't remember the sequence of columns.
#It means if you rerun the code you may get different arrangement of columns.

## OHE using sklearn

### Independent and dependent varaible

In [24]:
x = df.iloc[:,0:4]

In [22]:
y = df.iloc[:,-1]

In [25]:
x

        brand  km_driven    fuel                 owner
0      Maruti     145500  Diesel           First Owner
1       Skoda     120000  Diesel          Second Owner
2       Honda     140000  Petrol           Third Owner
3     Hyundai     127000  Diesel           First Owner
4      Maruti     120000  Petrol           First Owner
...       ...        ...     ...                   ...
8123  Hyundai     110000  Petrol           First Owner
8124  Hyundai     119000  Diesel  Fourth & Above Owner
8125   Maruti     120000  Diesel           First Owner
8126     Tata      25000  Diesel           First Owner
8127     Tata      25000  Diesel           First Owner

[8128 rows x 4 columns]

In [26]:
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

### train_test_split

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [31]:
x_train.shape

(6502, 4)

In [38]:
x_test

          brand  km_driven    fuel         owner
6662    Hyundai      19500  Petrol   First Owner
6551     Maruti      10000  Petrol   First Owner
506        Tata     146000  Diesel  Second Owner
4619     Maruti     160000  Petrol   Third Owner
3315     Toyota      70000  Petrol  Second Owner
...         ...        ...     ...           ...
4896   Mahindra      43526  Diesel   First Owner
3282      Honda      60000  Diesel   First Owner
3865  Chevrolet     120000  Petrol   First Owner
1314     Maruti     100000  Diesel  Second Owner
7208    Hyundai      89500  Petrol   First Owner

[1626 rows x 4 columns]

In [33]:
from sklearn.preprocessing import OneHotEncoder

In [71]:
ohe = OneHotEncoder(drop='first') # drop = 'first' is used to deal with problem of multicolinearity
#sparse_output = False will no return a sparse matrix so you don't need to do toaaray()
#dtype = np.int32 -> makes all float to int
#you may need all parameters that i commented out

In [53]:
ohe.fit(x_train[['fuel','owner']])

OneHotEncoder(drop='first')

In [54]:
x_train_ohe = ohe.transform(x_train[['fuel','owner']]).toarray()

In [55]:
x_test_ohe = ohe.transform(x_test[['fuel','owner']]).toarray()

In [56]:
x_train_ohe.shape

(6502, 7)

In [58]:
x_test_ohe.shape

(1626, 7)

In [72]:
 x_train[['brand','km_driven']].values # -> because x_train_ohe is also a np aaray so to do np.hstack we need both are in array

array([['Honda', 47725],
       ['Maruti', 5621],
       ['Toyota', 120000],
       ...,
       ['Maruti', 140000],
       ['Tata', 30000],
       ['Honda', 11688]], dtype=object)

In [73]:
np.hstack((x_train[['brand',	'km_driven']].values,x_train_ohe))

array([['Honda', 47725, 1.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 5621, 0.0, ..., 0.0, 0.0, 0.0],
       ['Toyota', 120000, 1.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['Maruti', 140000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Tata', 30000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Honda', 11688, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [106]:
# df = pd.DataFrame(np.hstack((x_train[['brand',	'km_driven']].values,x_train_ohe)))

In [79]:
# df

## Most Frequent varaible

In [101]:
count = df['brand'].value_counts()

In [107]:
df['brand'].nunique()
threshhold = 100

In [108]:
repl = count[count <= threshhold].index

In [112]:
pd.get_dummies(df['brand'].replace(repl,'uncommon')).astype(int)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0